
body { 
    background-color:antiquewhite; 
    margin:90px; 
}
.uno {
    background-color: gray; 
    width: 1250px;
    height: 500px; 
    padding: 40px;
    margin: 20px;  
    margin-top: 50px;
}


.dos {
    background-color: yellow;
    width: 1175px;
    height: 420px; 
    padding: 20px;
    margin: 20px; 
}


.tres {
    background-color: rgb(255, 123, 0);
    width: 1090px;
    height: 330px; 
    padding: 20px;
    margin: 20px; 
}


.cuatro {
    background-color: rgb(255, 56, 116);
    width: 1030px;
    height: 270px; 
    padding: 10px;
    margin: 20px; 
}

.cinco {
    background-color: rgb(231, 231, 231);
    width: 920px;
    height: 150px; 
    padding: 30px;
    margin: 20px; 
}

.seis {
    background-color: rgb(13, 0, 255);
    width: 820px;
    height: 25px; 
    padding: 15px;
    margin: 30px; 
}


.siete{
    font-size: 35px;
    color:rgb(0, 0, 0);
    text-align:center; 
    font-weight: bold; 
    font-style:oblique;
    font-variant:small-caps;
    font-family: Shalimar;

}



